{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">O APLIKACJI</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="{% url 'LandingPageView' %}" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Powrót</a>
        </div>
    </div>

    <div class="schedules-content">
        <div class="schedules-content-header">
                {% if about %}
                {% for a in about %}
                <div class="col-sm-10">
                    <p>{{ a.description }}
                        </p>
                    {% endfor %}
                    {% else %}
                        <p>
                            Strona w przygotowaniu
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}